body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #game-grid {
  background-color: black;
} */

.game-cell {
  max-width: 10px;
  max-height: 10px;
  border: black;
}
