body {
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background: url('https://wallpapercave.com/wp/wp2675338.jpg') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #preview-shape {
  width: 100%;
} */

.preview-image {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 75%;
  justify-items: center;
  padding: 5px;
  height: 150px;
}

.fixed-width {
  width: 200px;
  height: 200px;
  min-width: 150px;
  min-height: 150px;
}

.checkmark {
  width: 25%;
  height: 25%;
}

.game-row {
  padding: 0;
}

.game-cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.game-table {
  display: flex;
  justify-content: center;
}

.camera-position {
  display: flex;
  justify-content: center;
}

.navBar {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

video {
  transform: rotateY(180deg);
}

.currentShapeContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.camera-loader {
  width: 640px;
  height: 480px;
}

.camera-container {
  display: flex;
  justify-content: center;
}

/* .carousel {
  width: 1100px;
} */

.ui.card {
  width: 1400px;
}

.ui.header:last-child {
  margin-bottom: 0;
  text-align: center;
}
