body {
  font-family: sans-serif;
  /* margin: 0 20px; */
  padding: 20px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
